body {
    margin: 0;
}
nav{
    background-color: grey;
    display: flex;
    justify-content: center
}
li{
    list-style: none;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.block{
    height: 300px;
}
.block:nth-child(odd){
    background-color:antiquewhite;
}
.block:nth-child(even){
    background-color: bisquec;
}
