body, *{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
nav{
    background: #000000;
    position: fixed;
    padding: 20px 10px; 
    width: 100%;
}

ul{
    padding: 20px 20%;
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

.block{
    height: 300px;
}

.block:nth-child(odd){
    background-color: rgb(190, 123, 118);
}

.block:nth-child(even){
    background-color: bisque;
}

#scrolltotop{
    position: fixed;
    opacity: 0;
    bottom: 100px;
    right: 100px;
    height: 100px;
    width: 100px;
    background: rgba(0, 0, 0, 0.61);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    transition: all 1s;
}